[submodule "ext/zig-args"]
	path = ext/zig-args
	url = https://github.com/MasterQ32/zig-args.git
[submodule "ext/zig-dht"]
	path = ext/zig-dht
	url = gitolite@vps9114.xlshosting.net:zig-dht
[submodule "ext/yazap"]
	path = ext/yazap
	url = https://github.com/PrajwalCH/yazap.git
